body{
    background-color: #ccdbf5;
    background-image: url(graphics/cat.png);
    background-repeat: no-repeat;
}

h1, h3{
    color: green;
}

h1{
    font-size: 36px;
}

hr{
    color: red;
    height: 10px;
    width: 50%;
}

p{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 32;
}